extends layout

block content
    div.container
        div.navbar
            h1 Submit Your Message!

        form(action="/new" method="post")
            label(for="name") Name:
            input(type="text" name="name" id="name" required)

            label(for="message") Message:
            input(type="text" name="message" id="message" required)

            button(type="submit") Submit

        button.btn
            a(href='https://mini-message-board-wamc.onrender.com/') Go To Home

    head 
        link(rel="stylesheet", href="./stylesheets/new.css")
        meta(name="viewport", content="width=device-width, initial-scale=1")
