extends layout

block content
    h1 Form
    p Welcome to form!

    form(action="/new" method="post")
        h2 Contact Form
        label(for="name") Name:
        input(type="text" name="name" id="name" required)

        label(for="message") Message:
        input(type="text" name="message" id="message" required)

        button(type="submit") Submit
    br

    a(href='https://mini-message-board-wamc.onrender.com/') Go To Home
