extends layout

block content
  div.container
    div.navbar
      h1= title
      a#navbtn(href='https://mini-message-board-wamc.onrender.com/new') Send a message

    div.messageContainer
      each message in messages
        div.message
          div.user-and-time
            h3= message.name
            - let  date = new Date(message.date) // use your date object here
            - const formattedDate2 = date.toLocaleString('en-IN', {timeZone:'Asia/Kolkata', hour: 'numeric', minute:'numeric', hour12:true, day:'numeric', month:'short', year:'numeric'})
            p #{formattedDate2}
          div.text
            span= message.message
    div.attribution
      | created by&nbsp;
      a.github(href='https://github.com/rishawraj', target='_blank', rel='noopener noreferrer')
        i.fab.fa-github(aria-hidden='true')
        | &nbsp;rishawraj

  head 
    script(src="/javascripts/scroll.js", defer) 
    script(src="https://kit.fontawesome.com/1df7e7737b.js" crossorigin="anonymous") 
    link(rel="stylesheet", href="./stylesheets/main.css", type='text/css')
    meta(name="viewport", content="width=device-width, initial-scale=1")
